.header {
    display: flex;
    font-family: sans-serif;
    font-size: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}



a {
    color: black;
    text-decoration: none;

}

a:hover {
    color: blue;
}

.lineH {
    background-color: #000;
    height: 4px;
    margin-top: 10px;
}

.lineV {
    border-left: 4px solid;
    height: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 65px;
}

.flexing {
    display: flex;

    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 40px;
    color: blue;
    max-width: 45%;
    position: relative;
    top: 200px;
}


.gallery {

   position: absolute;
    left: 65%;
    top: 30%;
}




.gallery > a {

  margin: 15px;
}


@media screen and (max-width: 1100px) {
  .gallery {
    grid-template-columns: 1fr;


  }



